<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/mr_ino" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://blog.tomasino.org" class="icon circle fa-blog"><span class="label">Personal Blog</span></a></li>
        <li><a href="http://www.goodreads.com/user/show/1204542-james" class="icon circle fa-goodreads"><span class="label">Goodreads</span></a></li>
        <li><a href="http://github.com/jamestomasino" class="icon circle fa-github"><span class="label">Github</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; James Tomasino</li>
    </ul>

</footer>
