<div class="sidebar">
	{% assign counter = 0 %}
	{% for section in site.data.coresections %}
		{% capture longpage %}{{ section.page }}/index.html{% endcapture %}
		{% if longpage != page.url %}
			{% assign counter = counter | plus: 1 %}
			<section>
				<header>
					<h3>{{ section.name }}</h3>
				</header>
				<p>{{ section.blurb }}</p>
				<footer>
					<ul class="buttons">
						<li><a href="{{ section.page }}" class="button small">Learn More</a></li>
					</ul>
				</footer>
			</section>
		{% endif %}
	{% endfor %}
</div>
