---
layout: left
---

<article id="main">

	<header class="special container">
		<span class="icon fa-laptop"></span>
		<h2>About <strong>Stoicism</strong></h2>
		<p>What uncanny a thing, this shenanigans</p>
	</header>

	<section class="wrapper style4 container">

		<div class="row oneandhalf">
			<div class="4u">
				{% include sidebar.html %}
			</div>
			<div class="8u skel-cell-important">

				<div class="content">
					<section>

						<a href="#" class="image featured">{% picture about-stoicism.jpg %}</a>

						<header>
							<h3>About Stoicism</h3>
						</header>

						<p>Stoicism is a philosophy for everyday living. </p>

						<p>Vestibulum diam quam, mollis at consectetur non, malesuada quis
						augue. Morbi tincidunt pretium interdum. Morbi mattis elementum
						orci, nec dictum porta cursus justo. Quisque ultricies lorem in
						ligula condimentum, et egestas turpis sagittis. Cras ac nunc urna.
						Nullam eget lobortis purus. Phasellus vitae tortor non est placerat
						tristique. Sed id sem et massa ornare pellentesque. Maecenas
						pharetra porta accumsan. </p>

						<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu
						in odio vulputate luctus. Suspendisse euismod lorem eget lacinia
						fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
						aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi
						rutrum metus, non hendrerit ipsum arcu tristique est.</p>

					</section>
				</div>

			</div>

	</section>

	{% include disciplines.html %}

</article>
<!--  vim: set shiftwidth=2 tabstop=2 noexpandtab: -->
