---
layout: left
title: About Stoicism
---

<article id="main">

	<header class="special container">
		<span class="icon fa-laptop"></span>
		<h2>About <strong>Stoicism</strong></h2>
		<p>Arete, Eudaimonia, Oh My!</p>
	</header>

	<section class="wrapper style4 container">

		<div class="row oneandhalf">
			<div class="4u">
				{% include sidebar.html %}
			</div>
			<div class="8u skel-cell-important">
				<section class="row">
					<div class="content 12u">
						<a href="#" class="image featured">{% picture feature about-stoicism.jpg %}</a>

						<header>
							<h3>About Stoicism</h3>
						</header>

						<p>Stoicism is a philosophy for everyday living. It has its origins
						in ancient Athens where it was one of the four principal schools of
						philosophy. With peers like Plato and Aristotle, a man named
						<a href="https://en.wikipedia.org/wiki/Zeno_of_Citium">Zeno of Citium</a>
						put together a mashup of Greek thought fit for a king (or emperor).
						Unlike philosophy as you may understand it today, in the ancient world
						it was a practical science.</p>

						<p>The goal of stoicism is to be healthy, happy, and prosperous: a
						state summed up in the greek word <em>Eudaimonia</em>. Of course
						the stoic way of defining health, happiness, and prosperity are all
						a bit unique. It's best to think of eudaimonia as synonym of
						<em>Tranquility</em>.</p>

						<p>The path toward tranquility is found in four characteristics:
						wisdom, courage, self-control, and justice. These four together are
						summed up in the Greek word <em>Arete</em>. The Greeks have a word
						for everything, don't they?</p>

					</div>

					<div class="content 12u">

						<h4>Basic Tenents</h4>

						<p><em><span class="icon fa-globe"></span> <a href="/physics">Physics</a></em>
						- The stoics understood our universe to be made up of two key
						parts: the physical universe, and fortune. The physical world
						requires study, understanding, and respect. Fortune is harder to
						pin down. Fate, universal reason, God; many ideas could fit the
						intention. The physical world changes and grows. We change with it.
						The spirit of that change is in everything, including us. It
						naturally drives the world forward and if we pay attention, we can
						align ourselves to that path Fortune sets. <a href="/physics">Learn
						more</a> about stoic physics.</p>

						<p><em><span class="icon fa-check"></span> <a href="/ethics">Ethics</a></em>
						- What is good? What is just? What is the purpose of our lives? The
						stoics believed we were made to serve each other. Society and its
						service is our highest calling. Put your efforts toward the
						betterment of all of humankind and live a good life. This was one
						of the major appeals to the Romans. <a href="/ethics">Learn
						more</a> about stoic ethics.</p>

						<p><em><span class="icon fa-link"></span> <a href="/logic">Logic</a></em>
						- The type of logical thinking used by Zeno, Cato, Seneca and
						others is now known as <a href="https://en.wikipedia.org/wiki/Propositional_calculus">propositional logic</a> 
						as a way to distinguish it from the logic of Aristotle. In short,
						it's the logic of statements, their deduction, and so on. In
						practice today, logic can be thought of as applying your reasoning
						to the Physical and Ethical questions. A good stoic applies this
						reason carefully and intentionally to everything. <a href="/logic">Learn more</a> 
						about stoic logic.</p>

					</div>

					<div class="content 12u">
						<h4 class="12u">Famous Stoics</h4>

						<div class="row">
							<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Seneca_the_Younger">Seneca</a></em> (4 BC - AD 65) -
								Seneca was a philosopher, playwright, statesman, and advisor to
								Emperor Nero. He was wealthy and famous despite a few exiles.
								In the end, he was caught up in a conspiracy he was likely not
								a part of, but forced to commit suicide nontheless. His
								importance to stoicism is primarily from his letters to his
								friend, Lucilius Junior. These letters are captured in the book, 
								<a href="http://amzn.to/1SGEAGp">Letters from a Stoic</a>.
							</p>

							<div class="4u not-narrower">{% picture sidepic seneca.jpg %}</div>
						</div>

						<div class="row">
							<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Epictetus">Epictetus</a></em> (AD 55 - 135) -
							The foundation of all philosophy is self-knowledge, or so the
							claim by Epictetus goes. He was born a slave, served as secretary to
							Emperor Nero, and was freed following Nero's death. After that
							time he found a following as a philosopher. Although we have none
							of his own writings, his lecture notes&mdash;captured by his
							student&mdash;later became his seminal work, <a href="http://amzn.to/1NK129S">Discourses</a>.
							A shorter volume, <a href="http://amzn.to/1St0DuN">Enchiridion</a>&mdash;"Handbook"&mdash;which 
							is somewhat like a CliffsNotes version of Discourses.
							</p>

							<div class="4u not-narrower">{% picture sidepic epictetus.jpg %}</div>
						</div>

						<div class="row">
							<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Marcus_Aurelius">Marcus Aurelius</a></em> (AD 121 - 180) -
							The last of the five great emperors of Rome, Marcus spent most of
							his life at war abroad and facing instability at home. He was
							betrayed by his best friend, may have had an unfaithful wife, saw
							the deaths of several children, and overall just had a pretty
							rough go of things. Still, he was the most powerful man on the
							planet for a time, and folks generally thought he did a good job
							of it. He owes much of his ability to roll with the punches to
							his study of Epictetus' works. Marcus kept notes to himself
							throughout his life. One such journal kept during a campaigning
							decade formed the book <a href="">Meditations</a>. Of all the
							stoic writings, Meditations is perhaps the most well known and
							studied by lay people, presidents, CEOs, explorers, authors, etc.
							</p>

							<div class="4u not-narrower">{% picture sidepic marcus-aurelius.jpg %}</div>
						</div>

					</div>

				</section>
			</div>

	</section>

	{% include disciplines.html %}

</article>
<!--  vim: set shiftwidth=2 tabstop=2 noexpandtab: -->
