---
layout: left
title: About Stoicism
---

<article id="main">

	<header class="special container">
		<span class="icon fa-laptop"></span>
		<h2>About <strong>Stoicism</strong></h2>
		<p>What uncanny a thing, this shenanigans</p>
	</header>

	<section class="wrapper style4 container">

		<div class="row oneandhalf">
			<div class="4u">
				{% include sidebar.html %}
			</div>
			<div class="8u skel-cell-important">
				<section class="row">
					<div class="content 12u">
						<a href="#" class="image featured">{% picture about-stoicism.jpg %}</a>

						<header>
							<h3>About Stoicism</h3>
						</header>

						<p>Stoicism is a philosophy for everyday living. It has its origins
						in ancient Athens where it was one of the four principal schools of
						philosophy. With peers like Plato and Aristotle, a man named
						<a href="https://en.wikipedia.org/wiki/Zeno_of_Citium">Zeno of Citium</a>
						put together a mashup of Greek thought fit for a king (or emperor).
						Unlike philosophy as you may understand it today, in the ancient world
						it was a practical science.</p>

						<p>The goal of stoicism is to be healthy, happy, and prosperous: a
						state summed up in the greek word <em>Eudaimonia</em>. Of course
						the stoic way of defining health, happiness, and prosperity are all
						a bit unique. It's best to think of eudaimonaia as synonym of
						<em>Tranquility</em>.</p>

						<p>The path toward tranquility is found in four characteristics:
						wisdom, courage, self-control, and justice. These four together are
						summed up in the Greek word <em>Arete</em>. The Greeks have a word
						for everything, don't they?</p>

					</div>
				</section>

				<section class="row">
					<div class="content 12u">

						<h4>Basic Tenents</h4>

						<p><em><span class="icon fa-globe"></span> <a href="/physics">Physics</a></em>
						- In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
						odio vulputate luctus. Suspendisse euismod lorem eget lacinia
						fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
						aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi 
						</p>

						<p><em><span class="icon fa-check"></span> <a href="/ethics">Ethics</a></em>
						- In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
						odio vulputate luctus. Suspendisse euismod lorem eget lacinia
						fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
						aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi 
						</p>

						<p><em><span class="icon fa-link"></span> <a href="/logic">Logic</a></em>
						- In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
						odio vulputate luctus. Suspendisse euismod lorem eget lacinia
						fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
						aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi 
						</p>

					</div>
				</section>

				<section class="row">
					<h4 class="12u">Famous Stoics</h4>

					<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Seneca_the_Younger">Seneca</a></em> (4 BC - AD 65) -
					In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
					odio vulputate luctus. Suspendisse euismod lorem eget lacinia
					fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
					aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi
					rutrum metus, non hendrerit ipsum arcu tristique est.</p>

					<div class="4u">{% picture seneca.jpg %}</div>

					<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Epictetus">Epictetus</a></em> (AD 55 - 135) -
					In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
					odio vulputate luctus. Suspendisse euismod lorem eget lacinia
					fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
					aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi
					rutrum metus, non hendrerit ipsum arcu tristique est.</p>

					<div class="4u">{% picture epictetus.jpg %}</div>

					<p class="8u"><em><a href="https://en.wikipedia.org/wiki/Marcus_Aurelius">Marcus Aurelius</a></em> (AD 121 - 180) -
					In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in
					odio vulputate luctus. Suspendisse euismod lorem eget lacinia
					fringilla. Sed sed felis justo. Nunc sodales elit in laoreet
					aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi
					rutrum metus, non hendrerit ipsum arcu tristique est.</p>

					<div class="4u">{% picture marcus-aurelius.jpg %}</div>

				</section>
			</div>

	</section>

	{% include disciplines.html %}

</article>
<!--  vim: set shiftwidth=2 tabstop=2 noexpandtab: -->
